{% extends 'blog/base.html' %}

{% block title %}Edit Post{% endblock %}

{% if user.is_authenticated %}
{% if user.username == post.author %}
  {% block content %}
    <h2>Edit Post</h2>
    <div class="form-group">
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-success me-md-2" type="submit">Save</button>
        <a class="btn btn-dark" href="{% url 'post_detail' post.pk %}">Cancel</a>
      </form>
    </div>
  {% endblock %}
{% endif %}
{% endif %}
